BETTER_AUTH_SECRET="secretkey"
BETTER_AUTH_URL=http://localhost:3000 #Base URL of your app
OPENAI_API_KEY="sk-xxxxxx"
DATABASE_URL="postgresql://user:password@localhost/zstart"
PUBLIC_ZERO_SERVER="http://localhost:4848"

ZERO_UPSTREAM_DB="postgresql://user:password@127.0.0.1/zstart"
ZERO_CVR_DB="postgresql://user:password@127.0.0.1/zstart_cvr"
ZERO_CHANGE_DB="postgresql://user:password@127.0.0.1/zstart_cdb"
ZERO_AUTH_SECRET="secretkey"
ZERO_REPLICA_FILE="/tmp/zstart_replica.db"
ZERO_AUTH_JWKS_URL="http://localhost:3000/api/auth/jwks"

# OAUTH
GITHUB_CLIENT_ID="xxxxxx"
GITHUB_CLIENT_SECRET="xxxxxx"